In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:\\EduNet\\NSTI Indore\\AI\\NLP\\Dataset\\Sentiment_analysis.csv')
df

,Text,Sentiment,Source,Date/Time,User ID,Location,Confidence Score
0,I love this product!,Positive,Twitter,2023-06-15 09:23:14,@user123,New York,0.85
1,The service was terrible.,Negative,Yelp Reviews,2023-06-15 11:45:32,user456,Los Angeles,0.65
2,This movie is amazing!,Positive,IMDb,2023-06-15 14:10:22,moviefan789,London,0.92
3,I'm so disappointed with their customer support.,Negative,Online Forum,2023-06-15 17:35:11,forumuser1,Toronto,0.78
4,Just had the best meal of my life!,Positive,TripAdvisor,2023-06-16 08:50:59,foodie22,Paris,0.88
...,...,...,...,...,...,...,...
91,Just had the most amazing vacation! I can't wa...,Positive,TripAdvisor,2023-07-02 18:01:23,travelenthusiast1,Sydney,0.93
92,The food at this restaurant was awful. Never g...,Negative,Zomato,2023-07-02 20:45:37,foodlover123,Mumbai,0.55
93,I can't stop listening to this song. It's my n...,Positive,Spotify,2023-07-03 09:17:52,musiclover789,Berlin,0.91
94,Their website is so confusing and poorly desig...,Negative,Website Review,2023-07-03 11:59:18,user789,Toronto,0.68
95,I had an incredible experience at the theme pa...,Positive,Trip Report,2023-07-03 14:40:05,thrillseeker1,Orlando,0.89

Lower Case:

In [3]:
def to_lowercase(text):
    return text.lower()

Remove Punctuations

In [5]:
import string
def remove_punctuation(text):
    return text.translate(str.maketrans('','',string.punctuation))

Remove any speacial character

In [6]:
import re
def remove_special_char(text):
    return re.sub(r'[^a-zA-Z\s]','',text)

Remove Extra white Space

In [7]:
def remove_extra_whitespace(text):
    return re.sub(r'\s+',' ',text)

Stopwords

In [8]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Jash\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [9]:
from nltk.corpus import stopwords

In [10]:
stopwords.words('english')

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [11]:
len(stopwords.words('english'))

198

In [12]:
stop_words = set(stopwords.words('english'))
type(stop_words)

set

Filter Stopwords

In [13]:
nltk.download('punkt')
nltk.download('punkt_tab')
from nltk.tokenize import word_tokenize
def remove_stopwords(text):
    words = word_tokenize(text)
    filtered_words = [word for word in words if word not in stop_words]

    # Another Approach
    # filtered_words = []
    # for word in words:
    #     if word not in stop_words:
    #         filtered_words.append(word)
        
    return ' '.join(filtered_words)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Jash\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Jash\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

Combine All Methods

In [14]:
def clean_text(text):
    text = to_lowercase(text)
    text = remove_punctuation(text)
    text = remove_special_char(text)
    text = remove_extra_whitespace(text)
    text = remove_stopwords(text)
    return text

Create a New Column

In [16]:
df['Cleaned_Text'] = df['Text'].apply(clean_text)
df[['Text','Cleaned_Text']].sample(10)

,Text,Cleaned_Text
28,I had a frustrating experience navigating thro...,frustrating experience navigating website
39,I'm disappointed with the food at this restaur...,im disappointed food restaurant tasteless
53,I had a terrible experience with their deliver...,terrible experience delivery service late unpr...
46,This restaurant has the best food. I highly re...,restaurant best food highly recommend
83,Just had the best meal of my life!,best meal life
41,The website is slow and unresponsive. Difficul...,website slow unresponsive difficult navigate
14,I can't stop listening to this song. It's my n...,cant stop listening song new favorite
40,This song always puts me in a good mood. It's ...,song always puts good mood goto feelgood track
26,The food at this restaurant was outstanding. H...,food restaurant outstanding highly recommended
89,This book made me feel inspired. Highly recomm...,book made feel inspired highly recommended